* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Gill Sans';
}
#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
#header_wrapper {
    position: absolute;
    height: 85px;
    width: 100%;
    background-color: #dedede;
    border-bottom: 1px solid #999;
}
#header {
    padding: 0 50px;
}
#header h1 {
    font-weight: normal;
    font-size: 3em;
}
#search_box {
    position: relative;
    top: -45px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Gill Sans';
    font-weight: lighter;
}
#content_wrapper {
    position: absolute;
    top: 85px;
    bottom: 30px;
    overflow: auto;
    width: 100%;
}
#content {
    padding: 10px 20px;
}
#content table {
    margin: 0 auto;
    border: 1px solid #999;
    border-collapse: collapse;
}
#content table thead {
    border-bottom: 1px solid #999;
}
#content table td {
    padding: 4px 6px;
    border-right: 1px solid #999;
    min-width: 200px;
}
#content table tbody tr.no_results {
    text-align: center;
}
#content table tbody tr:nth-child(odd) {
    background-color: #dedede;
}
#content table tbody td.password {
    cursor: pointer;
}
#footer_wrapper {
    position: absolute;
    background-color: #dedede;
    border-top: 1px solid #999;
    height: 30px;
    width: 100%;
    bottom: 0;
}